$body-bg: #333;
$body-color: black;

@import "~bootstrap/scss/bootstrap";

.container {
    display:flex;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
<<<<<<< HEAD
=======

        .card-body {
            text-align: center;
        }
>>>>>>> master
}

.style-buttons {
    display:flex;
    justify-content: space-evenly;
    font-size: 0.2rem;
}

#stylebutton {
    font-size: 0.2rem;
}
<<<<<<< HEAD

form {
    display:flex;
    margin-bottom: 2rem;
    flex-direction: column;
}
=======
>>>>>>> master
